@media only screen and (max-width: 968px) {
	header {
		.hamburger {
			display: block;
		}

		.navbar__link {
			background-color: $hamburger-background-color;
			position: absolute;
			right: 0;
			top: 0;
			width: 0;
			height: 100%;
			display: flex;
			flex-direction: column !important;
			justify-content: flex-start !important;
			align-items: flex-start !important;
			position: fixed;
			transition: all 0.5s ease 0s;
			z-index: 2;
			overflow-y: scroll;

			& > li {
				line-height: 6rem;
			}

			li a {
				font-size: 22px;
				transition: all 0.3s ease 0s;
				color: #fff;
			}

			i {
				color: #fff;
			}
		}

		.sub-menu {
			position: absolute;
			border: 3px solid transparent;
			border-left-color: #eb3007;
			top: 4rem !important;
			left: 1rem;
		}

		.sub-menu::before {
			display: none;
		}
	}
}

@media only screen and (max-width: 600px) {
	.date {
		flex-direction: row !important;
		align-items: flex-start !important;
		justify-content: flex-start !important;
		flex-wrap: wrap !important;

		&__filter {
			margin-top: 0.5rem;
		}
	}
}
