$primary-color: #1e266d;
$secondary-color: #ff2e69;
$body-background-color: #f5f7f8;

$logo-color: #fff;
$logo-hover-color: #ff2e69;
$header-background-color: #1e266d;

$hamburger-background-color: #24252a;
$hamburger-color: #fff;
$hamburger-hover-color: darken($logo-hover-color, 5%);

$font-family: Arial, Helvetica, sans-serif;

$card-border-color-1: #69cb86;
$card-border-color-2: #e74c3c;
$card-border-color-3: #2194f3;
$card-border-color-4: #635e9d;
